@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script+Swash+Caps:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    background-color: #ffccff;

}

.for_h2 {
    color: #cc99ff;
}
.dark-mode {
    background-color: #e699ff;
    color:pink;
  }


.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  
}


#for_search {
    width: 150px;
    height: 55px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
#for_search:focus{
    width: 360px;
}
.search i {
    position: absolute;
    top: 17%;
    right: 3%;
}

.search input {
    box-shadow: 0 0 15px #d9b3ff;
    border: 2px solid #d9b3ff;
    box-sizing: border-box;
    outline: none;
    padding-left: 15px;
    font-size: 20px;
    -webkit-text-fill-color: #cc99ff;
    border-radius: 100px;
    margin-bottom: 10px;
}

input:focus {
    box-shadow: 0 0 8px blueviolet;
    border: 2px solid #9933ff;
}

#buttonn{
    border: 2px solid #ffccff;
    border-radius: 25px;
    background-image: linear-gradient(to right, #bf80ff 0%, #F7BB97 51%, #bf80ff 100%);
    width: 60px;
    height:50px;
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;   
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    position:fixed;
    top:85%;
    right:0;
    bottom:0;

    
}





.button:active {
    transform: translateY(1px);
}


header {

    border-bottom: 3px solid #9933ff;
}


.container {
    width: 95%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.images{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width:100%;
}



@media (max-width:768px){
    .navbar{
        justify-content: center;
    }
}